.BLOG-page {
    background: url('img/blog\ bg.jfif') no-repeat center center/cover;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, sans-serif;
}

.txt {
    max-width: 800px;
    padding: 20px;
    background-color: rgba(24, 8, 77, 0.429); 
    border-radius: 8px;
}
h1 {
    font-size: 4rem;
    margin-bottom: 20px;
    font-weight: bold;
    color: #ffffff;
}
p {
    font-size: 1.5rem;
    margin-bottom: 30px;
    line-height: 1.6;
}

.buttoms {
    display: flex;
    justify-content: center;
    gap: 20px;
}
button {
    background-color: #e6e6e644;
    color: white;
    font-size: 1rem;
    padding: 10px 60px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ffffff00;
    border: 1px solid white;
}
button a {
    color: white;
    text-decoration: none;
}
button a:hover {
    color: white;
}
